* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100%;
}

pre { /* generic pre, e.g. tooltips */
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 0.9em;
    background: #fafafa;
}


/* pre and code sections from markdown */
pre.highlight {
    background-color: #cec;
    color: #040;
}

code.highlighter-rouge {
    background-color: #cec;
    color: #040;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    color: red;
}

h1, h2 {
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #03b;
}

a:hover {
    color: #09b;
}

.grid-comment {
    color: #777;
    text-decoration: underline;
    text-decoration-style:dotted;
}

#main table {
    border-collapse: collapse;
    margin-bottom: 5px;
}
#main table, #main th, #main td {
    border: 1px solid #999;
    padding: 10px;
}

#main th {
    background-color: #eee;
}


#main h1 {
    font-size: 40px;
    font-weight: bold;
}

#main p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
}

#main ul, #main ol {
    margin: 20px;
}

#main li {
    font-size: 15px;
    line-height: 20px;
}

#main ul li {
    list-style-type: square;
}

table.queue {
    width: 100%;
    table-layout: fixed;
}

#footer {
    position: absolute;
    margin-top: 50px;
    height: 60px;
    box-shadow: 0 50vh 0 50vh #333, 0 -2px 5px 0 rgba(0,0,0,.5);
    background-color: #333;
    width: 100%;
    z-index: 3;
    color: #fff;
}
#footer-content {
    padding: 20px;
    max-width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;
}

#footer a:link, #footer a:visited {
    font-weight: bold;
    color: #7ad;
}

#footer a:hover {
    font-weight: bold;
    color: #9cf;
}

#footer .right {
    float: right;
}

#footer .right a:link, #footer .right a:visited {
    font-weight: bold;
    color: #ddd;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(25vw - 15px);
    height: 100vh;
    font-size: 13px;
    overflow-y: auto;
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    #sidebar {
        display: none;
    }
}

#sidebar-content {
    padding-top: 80px;
    padding-bottom: 140px;
}

#sidebar h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 3px;
}

#sidebar ul {
    list-style-type: none;
    margin: 20px 0;
}

#sidebar li {
    font-size: 14px;
    line-height: 20px;
}
